In [10]:
import pandas as pd
import utils as ut

df = ut.get_dataset(1_000_000)
df = ut.set_dtypes(df)
df.head()

        NFe Estado       Date       Item     Price
0  34586561     PB 2023-01-09      Pepsi  3.599965
1  38743524     PB 2023-12-28       Água  2.421725
2  11007348     PB 2024-12-17       Água  1.171302
3  15564689     SP 2024-06-17      Pepsi  4.147957
4  17758365     PE 2024-02-05  Coca-Cola  1.743007

# CSV

In [11]:
%%timeit
df.to_csv('../data/df.csv', index=True)

3.21 s ± 98.3 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [12]:
%%timeit
aux = pd.read_csv('../data/df.csv')

366 ms ± 5.07 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [13]:
!du -sh ../data/df.csv

 45M	../data/df.csv

# Pickle

In [23]:
%%timeit
df.to_pickle('../data/df.pkl')

6.32 ms ± 396 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [15]:
%%timeit
aux = pd.read_pickle('../data/df.pkl')

2.36 ms ± 28.5 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [16]:
!du -sh ../data/df.pkl

 21M	../data/df.pkl

# Parquet

In [17]:
#!pip install pyarrow
#!pip install fastparquet

In [18]:
%%timeit
df.to_parquet('../data/df.parquet')

89.2 ms ± 3.95 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [19]:
%%timeit
aux = pd.read_parquet('../data/df.parquet')

15.4 ms ± 1.9 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

# Feather

In [20]:
%%timeit
df.to_feather('../data/df.feather')

25.9 ms ± 260 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [21]:
%%timeit
aux = pd.read_feather('../data/df.feather')

11 ms ± 434 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [22]:
!du -sh ../data/* | sort -hr

 45M	../data/df.csv
 21M	../data/df.pkl
 14M	../data/df.feather
 12M	../data/df.parquet