In [17]:
import utils as ut

df = ut.get_dataset(1_000_000)
df = ut.set_dtypes(df)
df.head()

        NFe Estado       Date       Item     Price
0  81117358     PB 2024-10-06  Coca-Cola  2.037076
1  11285947     PB 2023-10-14       Água  1.951559
2  66373163     PB 2024-11-29  Coca-Cola  2.088073
3  82414798     SP 2024-06-03  Coca-Cola  4.777613
4  19910007     SP 2023-01-13      Pepsi  3.498621

In [18]:
filename = "../data/df.parquet"
df.to_parquet(filename, index=False)

In [19]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Exemplo de leitura de Parquet com PySpark") \
    .getOrCreate()